 @font-face { font-family: Clarendon; src: url('../fonts/clarendon/tt0351m_.ttf')   format('truetype'); }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Clarendon, Georgia, serif;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul {
	list-style: none;
}

#map {
  height: 100%;
}

#timeline {
	background-color: #c04000;
  background-image: url("../img/mahogany.png");
	border: 5px;
	border-color: #c04000;
	border-style: outset;
	position: fixed;
	top: 30px;
	left: 20px;
	width: 250px;
	z-index: 100;
}

#timeline div {
  margin-left: auto;
  margin-right: auto;
}

#timeline li div {
  align-items: center;
  background-image: url("../img/brassplaque.png");
  background-size: cover;
	display: flex;
	height: 55px;
  width: 195px;
	justify-content: center;
	margin: 10px 5px 10px 0; 
}