 @font-face { font-family: Clarendon; src: url('../fonts/clarendon/tt0351m_.ttf')   format('truetype'); }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Clarendon, Georgia, serif;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul {
	list-style: none;
}

#map {
  height: 100%;
}

#timeline, #expand_collapse {
	background-color: #AC6551;
  background-image: url("../img/mahogany.jpg");
	border: 5px;
	border-color: #AC6551;
	border-style: outset;
	position: fixed;
}

#timeline {
  top: 0;
  left: 0;
  width: 170px;
  z-index: 100;
}

#timeline div {
  margin-left: auto;
  margin-right: auto;
  width: 165px;
}

#timeline li div {
  align-items: center;
  background-image: url("../img/brassplaque-thin.png");
  background-size: cover;
	display: flex;
	height: 39px;
  width: 140px;
	justify-content: center;
	margin-top: 10px;
  margin-bottom: 10px; 
}

#timeline li div.selected, #timeline li div:hover {
  font-size: 1.4em;
  font-weight: bold;
  height: 42px;
  width: 150px;
}

div#map_controls {
  margin-left:auto;
  margin-right:auto;
}

div#map_controls div.map_control_row {
  margin-top: 10px;
  text-align: center;
}

div#map_controls div.map_control_row div {
  background-image: url("../img/brassplaque.png");
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 50px;
}

div#map_controls div#map_type div {
  background-image: url("../img/brassplaque-thin.png");
  height: 20px;
  width: 70px;
}

div#map_controls div#map_type div.selected {
  background-image: url("../img/brassplaque-thin.png");
  font-size: 1.2em;
  font-weight: bold;
  height: 24px;
  width: 85px;
}

#expand_collapse {
  border-left: 0;
  left: 175px;
  top: 0;
  width: 80px;
  z-index: 105;
}

#expand_collapse div {
  background-size: cover;
  cursor: pointer;
  height: 35px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70px;
}

#expand_collapse div#expand {
  background-image: url("../img/open.png");
}

#expand_collapse div#collapse {
  background-image: url("../img/close.png");
}

@media only screen and (max-width: 400px) {
  #timeline {
    left: -175px;
  }

  #expand_collapse {
    left: 0;
  }
}

@media screen {
  div#preload {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  div#preload img {
    display: block;
  }
}

@media print {
  div#timeline, div#expand_collapse, div#preload, div#preload img {
    visibility: hidden;
    display: none;
  }
}